<!-- Modal -->
<div class="modal fade" id="update_properties" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form action="/modify_map_building/<%=@the_building.id%>">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Quality</label>
            <select class="form-select" aria-label="Default select example">
              <% for @quality_level in 0..12 %>
                <option value="<%= @quality_level %>" <%= "selected" if @quality_level == @the_building.quality_level %>><%= @quality_level %></option>
              <% end %>
            </select>
          </div>
          <div class="mb-3">
            <label for="customRange3" class="form-label">Building level: <span id="rangeValue">20</span></label>
            <input type="range" class="form-range" min="1" max="40" step="1" id="customRange3" value="1">
          </div>

          <script>
            // Get the range input and the display element
            const rangeInput = document.getElementById('customRange3');
            const rangeValueDisplay = document.getElementById('rangeValue');

            // Set initial value display
            rangeValueDisplay.textContent = rangeInput.value;

            // Update value display on input change
            rangeInput.addEventListener('input', (event) => {
              rangeValueDisplay.textContent = event.target.value;
            });
          </script>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
