<h2>
  Add a new map building
</h2>

<hr>

<hr>

<form action="/insert_map_building" method="post">
  <input type="hidden" name="map_id" value="<%= @the_map.id %>">
  <input type="hidden" name="query_position_id" value="<%= @the_position_id %>">

  <div>
    <label for="building_id_box">
      Building
    </label>
    <input type="text" id="building_id_box" name="query_building_id">
  </div>

  <div>
    <label for="level_box">
      Level
    </label>
    <input type="text" id="level_box" name="query_level">
  </div>

  <button>
    Create map building
  </button>
</form>

<div>
  <a href="/maps/<%=@the_map.id%>">
    Go back
  </a>
</div>
