<div class="mt-3 mb-3 d-flex justify-content-center">
  <div class="d-flex justify-content-center align-content-between flex-wrap" style="max-width: 1000px;">
    <% @list_of_buildings.each do |a_building| %>
      <a href="/buildings/<%= a_building.id %>" class="text-decoration-none">
        <div class="rounded m-1 bg-dark opacity-75" style="position: relative; max-width: 100px; max-height: 100px;">
          <!-- Image -->
          <img 
            class="figure-img img-fluid rounded" 
            src="<%= a_building.image_link %>" 
            alt="<%= a_building.name %>" 
            style="max-width: 100%; max-height: 100%;">
          <!-- Caption -->
          <div 
            style="position: absolute; bottom: 0; left: 0; width: 100%;; color: white; text-align: center; padding: 5px; font-size: 12px;font-weight: bold;">
            <%= a_building.name %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
