<div class="d-flex justify-content-center">
  <div class="d-flex align-content-between flex-wrap mt-5 mb-5" style="max-width: 1000px;">
    <% @list_of_resources.each do |a_resource| %>
      
      <%= render 'resources/resource_details', 
            a_resource: a_resource %>

    <% end %>
  </div>
</div>
